<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>ReactJS tutorials</title>
		<link rel="stylesheet" href="lib\bootstrap\css\bootstrap.min.css"/>
		<style>
			.text-red{
				color: red;
			}
		</style>
	</head>
	<body>
	<div id="page-content" class="container">
		<!-- Content -->
	</div>
	<!-- Scripts -->
	<script src="lib/jquery.min.js"></script>
	<script src="lib/bootstrap/js/bootstrap.min.js"></script>
	<script src="lib/react-with-addons.min.js"></script>
	<script src="lib/browser.babel.min.js"></script>


	<script type="text/babel">
		var App = React.createClass({
			render: function(){
				var greenStyle = {
					color: 'green',
					fontWeight: 'bold'
				};
				return (
					<div>
						<p className="text-red">Text styled in red color</p>
						<p style={greenStyle}>Hellow! I am a styled paragraph.</p>
						<p style={{color:'blue', textDecoration:'underline'}}>Another styled paragraph.</p>
					</div>
				)
			}
		});

		React.render(<App />, document.getElementById('page-content'));
	</script>
	</body>
</html>