.lessons-list .list-group-item {
  padding: 0 15px;
}
.lessons-list .list-group-item.active a.active {
  color: #FFF;
}
.output-container {
    padding: 10px;
    border: 5px double #ccc;
    border-radius: 10px;
}
.code-snippet-title {
    padding-left: 30px;
}